.footer {
  padding: 20px;
  background-color: #3f51b5;
  color: #fff;
  // Set footer on the bottom
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  ////

  a {
    color: #ccd2d8;
  }

  p {
    margin: 0;
  }
}
