<form class="video-input-form" [formGroup]="inputForm" (ngSubmit)="onSubmit()">
    <div class="input-form">
        <mat-icon class="help-icon" (click)="openInfoPopup()">help</mat-icon>
        <mat-form-field class="input-full-width">
            <mat-label>Adres URL lub ID filmu</mat-label>
            <input matInput
                   formControlName="input"
                   placeholder="https://www.youtube.com/watch?v=4JOAqRS_lms"
                   value="">
        </mat-form-field>
        <div class="input-form input-form_buttons">
            <button type="submit" mat-raised-button color="primary">Dodaj film</button>
        </div>
    </div>
</form>

