<header>
    <mat-toolbar color="primary" class="header">
        <div class="header header_logo">
            <span>Video App</span>
        </div>
        <div class="header header_icons">
            <button mat-icon-button aria-label="Icon-button with list icon">
                <mat-icon>list</mat-icon>
            </button>
            <button mat-icon-button aria-label="Icon-button with list icon">
                <mat-icon>view_module</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</header>
