<!-- Grid style -->
<div class="row" *ngIf="grid">
    <div class="col-lg-4" *ngFor="let video of videosList">
        <div class="single-video-card">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{video.type === 'youtube' ? video.snippet.title : video.name}}</mat-card-title>
                    <mat-card-subtitle>{{video.type === 'youtube' ? video.statistics.viewCount : video.stats.plays}} wyświetleń | {{video.type === 'youtube' ? video.statistics.likeCount : video.metadata.connections.likes.total}} polubień</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image
                     (click)="watchVideo(video)"
                     src="{{video.type === 'youtube' ? video.snippet.thumbnails.medium.url: video.pictures.sizes[0].link}}"
                     alt="{{video.type === 'youtube' ? video.snippet.title : video.name}} video thumbnail">
                <mat-card-content>
                    <mat-chip-list aria-label="Date selection">
                        <mat-chip color="primary" selected>Dodano: {{ video.addedAt | date }}</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
                <mat-card-actions>
                    <div class="video-buttons">
                        <mat-icon (click)="watchVideo(video)" color="primary">play_circle_filled</mat-icon>
                        <mat-icon color="accent" (click)="likeVideo(video)">{{video.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
                        <mat-icon (click)="removeVideo(video.videoID)">delete</mat-icon>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<!-- List style -->
<div class="row" *ngIf="!grid">
    <div class="single-video-list">
        <mat-list *ngFor="let video of videosList">
            <mat-list-item>
                <div class="single-video-list__item">
                    <img class="video-list-thumbnail"
                         (click)="watchVideo(video)"
                         src="{{video.type === 'youtube' ? video.snippet.thumbnails.medium.url: video.pictures.sizes[0].link}}"
                         alt="{{video.type === 'youtube' ? video.snippet.title : video.name}} video thumbnail">
                    <div class="single-video-list__info">
                        <div mat-line>{{video.type === 'youtube' ? video.snippet.title : video.name}}</div>
                        <div mat-line>{{video.type === 'youtube' ? video.statistics.viewCount : video.stats.plays}} wyświetleń | {{video.type === 'youtube' ? video.statistics.likeCount : video.metadata.connections.likes.total}} polubień</div>
                        <div mat-line>Dodano: {{ video.addedAt | date }}</div>
                    </div>
                    <div class="single-video-list__buttons">
                        <mat-icon (click)="watchVideo(video)" color="primary">play_circle_filled</mat-icon>
                        <mat-icon color="accent">{{video.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
                        <mat-icon (click)="removeVideo(video.videoID)">delete</mat-icon>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>
</div>

<!-- Filters, Sorting, Pagination -->
<div class="row">
    <div class="col-lg-12">
        <div class="list-options">
            <div class="filter">
                <mat-form-field appearance="fill">
                    <mat-label>Filtruj</mat-label>
                    <mat-select (selectionChange)="filterList($event)">
                        <mat-option *ngFor="let filter of filtersList" [value]="filter">{{filter}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="sorting">
                <mat-form-field appearance="fill">
                    <mat-label>Sortuj</mat-label>
                    <mat-select (selectionChange)="sortList($event)">
                        <mat-option *ngFor="let sort of sortingList" [value]="sort">{{sort}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="pagination">
                <mat-paginator [length]="100"
                               [pageSize]="10"
                               [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
